.about {
  /* width: 100%;
  height: 50vh; */
  background-color: #fff2f2;
  color: #566573;
  font-family: "Nunito", sans-serif;
}

.about__image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.about__image > img {
  object-fit: cover;
  /* width: 275px;
  height: 275px; */
  border-radius: 50%;
  /* border: 1px solid #a1acb3; */
}

.about__quote {
  margin: 15px 0;
  display: flex;
}

.about__indent {
  background-color: #01d1c1;
  width: 5px;
  margin-right: 15px;
}

.about__details {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.about__name,
.about__phone {
  font-family: "Rufina", serif;
  font-size: 16px;
  color: #031532;
  width: 48%;
  display: flex;
  align-items: center;
}

.about__icon {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 50%;
  margin-right: 10px;
}

.about__nameIcon,
.about__linkedIn {
  background-color: #ff6665;
}

.about__phoneIcon,
.about__github {
  background-color: #01d1c1;
}

.about__instagram {
  background-color: #566573;
}

.about__email {
  margin-top: 10px;
  font-family: "Rufina", serif;
  color: #031532;
  display: flex;
  align-items: center;
  width: 70%;
}

.about__emailIcon {
  color: white;
  background-color: #031532;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 50%;
}
