.banner {
  width: 100%;
  height: 50vh;
  background-color: #fff2f2;
  color: #031532;
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  font-family: "Rufina", serif;
}

.banner__title > h4 > span {
  text-decoration: underline solid #01d1c1;
}

.banner__greetings {
  display: flex;
}

.banner__greetings > p {
  margin-right: 20px;
}

.banner__subtitle {
  margin-top: 10px;
  font-family: "Nunito", san-serif;
  font-size: 18px;
  color: #566573;
}

.banner__content {
  margin: 0 40px;
}

.banner__buttons {
  margin-top: 20px;
  width: 50%;
  display: flex;
  justify-content: space-between;
}