.learnMoreButton {
  width: 150px;
  height: 35px;
  color: #031532;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  background-color: #01d1c1 !important;
  font-weight: bold;
}

.learnMoreButton:hover {
  cursor: pointer;
}

.fill {
  position: relative;
}

.content {
  width: 150px;
  height: 35px;
  position: absolute;
}
