.projects {
  height: 80vh;
}

.projects__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 40px;
}

.projects__left,
.projects__right {
  width: 50%;
}

.projects__left > h1 {
  font-family: "Rufina", serif;
  margin-right: 20px;
  font-weight: 400;
  color: red;
  font-size: 22px;
}

.projects__table {
  margin-top: 10px;
}

.projects__content {
  margin-top: 10px;
}

.projects__table {
  margin: 20px 100px;
  background-color: white;
  height: 30vh;
  width: 100%;
}