.resumeButton {
    width: 150px;
    height: 35px;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    background-color: #ff6665;
    font-weight: bold;
}

.resumeButton:hover {
    cursor: pointer;
}

.fill {
    position: relative;
}

.content {
    width: 150px;
    height: 35px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content > .icon {
    margin-right: 5px;
}