@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

.header {
  background-color: #fff2f2;
  color: black;
  font-size: 18px;
  font-weight: 700;
  font-family: "Nunito", san-serif;
}

.header__title_link {
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

.header__title_link:hover {
  color: black;
}

/*
.header__nav {
  display: flex;
  flex: 1;
  justify-content: center;
}
*/

.header__navOption {
  border: none;
  background-color: transparent;
  color: black;
  font-weight: bold;
  outline: none;
  font-size: 14px;
}

.header__navOption:hover {
  color: red;
  transition: 0.3s;
  cursor: pointer;
}
