.about {
  width: 90%;
  margin: 0 5%;
  background-color: white;
  padding: 20px 0;
}

h2 {
  padding-bottom: 10px;
  font-size: 32px;
  text-decoration: underline;
}

p {
  font-size: 18px;
  line-height: 30px;
}
