@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

/* "Oxygen", san-serif */

.header {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  font-family: "Oxygen", san-serif;
  font-size: large;
  background-color: white;
  height: 60px;
  border-bottom: 2px solid lightgray;
  position: sticky;
  top: 0;
}

.header__left {
  display: flex;
  /* color: black; */
  line-height: 60px;
  vertical-align: middle;
}

.header__right {
  display: flex;
  /* color: white; */
  line-height: 60px;
  vertical-align: middle;
}

p {
  padding-left: 10px;
  padding-right: 10px;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}
