@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");

.home {
  background-color: white;
  display: flex;
  flex-direction: column;
  font-family: "Source Code Pro", monospace;
}

.home__title {
  margin: 0 5%;
  text-align: center;
  padding: 125px 0;
  border-bottom: 1px solid lightgrey;
}

.home__title > p > h1 {
  font-weight: 700;
  /* font-size: 50px; */
  line-height: 60px;
}

.home__title > p {
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
}
