.home {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.home__title {
  margin: 0 5%;
  text-align: center;
  padding: 125px 0;
  border-bottom: 1px solid lightgrey;
}

.home__title > p > h1 {
  font-weight: 700;
  /* font-size: 50px; */
  line-height: 60px;
}

.home__title > p {
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
}
