.footer {
    background-color: #fff2f2;
    color: #7a7a7a;
    padding: 20px;
}

.footer__content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__copyright {
    font-size: 14px;
}