@import url("https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  /* background-color: #fff2f2; */
}

html {
  scroll-behavior: smooth;
}

h1 {
  color: #031532;
  font-family: "Rufina", serif;
}

h2 {
  color: #031532;
  font-size: 34px;
  font-family: "Rufina", serif;
}

.subh1 {
  font-family: "Rufina", serif;
  font-weight: 400;
  color: red;
  font-size: 22px;
}

p {
  color: #566573;
}